nav {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

nav .left {
    display: flex;
    margin: auto 0 auto 0;
    width: 164px;
    height: 24px;
    justify-content: space-between;
}


nav .middle {
    display: flex;
    width: 404px;
    justify-content: space-around;
    border: 1px solid #CCCCCC;
    border-radius: 40px 40px 40px 40px;
}


nav .search-box {
    display: flex;
    width: inherit;
    justify-content: space-between;
    padding: 5px;
}

nav .search-box input {
    border: none;
    outline: none;
    padding: 5px;
}

nav .search-box img {
    border-left: 1px solid #CCCCCC;
    padding: 5px;
}

nav .right {
    /*border: 1px solid;*/
    margin: auto 0 auto 0;
    width: 164px;
    height: 24px;   
    display: flex;
    justify-content: space-around;
}

article {
    margin-top: 30px;
    margin-left: 65px;
    width: 952px;
    height: 746px;
    border: 1px solid;
    gap: 16px;
}

article .title-video{
    font-weight: 600px;
    display: flex;
    align-items: center;
    size: 20px;
    width: 871px;
    height: 23px;
    border: 1px solid;
    margin: 10px 0 10px 0;
}

article .channel-bar{
    width: 902px;
    height: 42px;
    border: 1px solid;
}

article .channel-bar .channel-logo{
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 160px;
    height: 42px;
    gap: 12 px;
}

article .channel-bar .channel-logo #infos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 106px;
    height: 32px;
    font-size: 14px;
    white-space: nowrap;
    margin-left: 5px;
}

span{
    color: gray;
}