nav {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

nav .left{
    margin: auto 0 auto 0;
    width: inherit;
}



nav .middle{
    display: flex;
    width: 404px;
    justify-content: space-around;
    border: 1px solid #CCCCCC;
    border-radius: 40px 40px 40px 40px;
}


nav .search-box{
    display: flex;
    width: inherit; 
    justify-content: space-between;
    padding: 5px;
}

nav .search-box input{
    border: none;
    outline: none;
    padding: 5px;
}

nav .search-box img{
    border-left: 1px solid #CCCCCC;
    padding: 5px;
}